.postBody {
  line-height: 1.75;
  letter-spacing: 0.025em;
  margin-top: 32px;
}

.postBody * {
  word-wrap: break-word;
}

.postBody :global(.padding-for-filename) {
  padding-top: 2.6em !important;
}

.postBody :global(.filename) {
  color: #eee;
  display: inline-block;
  position: absolute;
  background-color: #444;
  word-break: break-all;
  border-radius: 0 0 5px 0;
  font-size: 0.9em;
  padding: 3px 6px;
}

:global(.theme--dark) .postBody strong {
  background: linear-gradient(transparent 80%, var(--secondary-color) 0%);
}

:global(.theme--light) .postBody strong {
  background: linear-gradient(transparent 80%, var(--secondary-color) 0%);
}

.postBody blockquote {
  padding: 0.6em 1em;
  margin: 2em auto;
  border-left: 3px solid rgba(128, 128, 128, 0.8);
}

.postBody p {
  margin-bottom: 1.8em;
}

.postBody blockquote blockquote {
  padding: 0.4em 1em;
  margin: 1.2em auto 0.7em;
  border-left: 3px solid rgba(128, 128, 128, 0.8);
}

:global(.theme--dark) .postBody blockquote {
  color: #aaa;
}

:global(.theme--light) .postBody blockquote {
  color: #333;
}

.postBody :where(ul, ol) {
  margin-bottom: 1.8em;
}

.postBody li > :is(ul, ol) {
  margin-bottom: 0.5em;
}

.postBody blockquote :global(p.author) {
  text-align: right;
}

.postBody blockquote :global(p.author)::before {
  content: '―― ';
}

.postBody picture,
.postBody img,
.postBody source[type='image/webp'] {
  display: block;
  width: auto;
  max-width: min(100%, 800px);
  height: auto;
  max-height: 640px;
  margin: 0.6em auto;
}

.postBody h2 {
  font-size: 2em;
  margin-top: 64px;
  margin-bottom: 24px;
}

:global(.theme--dark) .postBody h2,
:global(.theme--dark) .postBody h3 {
  border-bottom: 1px solid #222;
}

:global(.theme--light) .postBody h2,
:global(.theme--light) .postBody h3 {
  border-bottom: 1px solid #eee;
}

.postBody h3 {
  margin-top: 58px;
  margin-bottom: 18px;
}

.postBody h4,
.postBody h5 {
  margin-top: 52px;
  margin-bottom: 20px;
}

.postBody :global(hr.footnotesSep) {
  margin-top: 12px;
  margin-bottom: 16px;
}

.postBody code {
  margin: auto auto 1.5em;
  word-wrap: normal;
  white-space: pre;
  padding: 0.8em 0.6em;
  display: block;
  overflow-x: auto;
  color: #ddd;
  background: #282c34;
  font-weight: 500;
}

.postBody code :global(.token.prompt) {
  user-select: none;
  color: #777;
}

:global(.theme--light) .postBody a {
  color: #006256;
}

.postBody blockquote p {
  margin-bottom: 0px !important;
}

.postBody code::before,
.postBody code::after {
  content: none;
}

.postBody :global(code.hljsspan) {
  display: inline;
  overflow-x: initial;
  overflow-wrap: break-word;
  color: #ddd;
  background: #282c34;
  padding: 0.1em 0.4em;
  margin-left: 4px;
  margin-right: 4px;
  white-space: normal;
}

:global(.theme--light) .postBody :global(code.hljsspan) {
  color: #222;
  background: #e0e0e4;
}

.postBody :global(code.hljsComment) {
  color: #acb3c0;
}

.postBody ul,
.postBody ol {
  margin-left: 1.2em;
}

.postBody :global(.message) {
  padding: 1.2rem 0.8rem;
  margin: 1.5rem 0;
  border-left: 4px solid #2196f3;
  background: #f4f8fa;
  position: relative;
}

:global(.theme--dark) .postBody :global(.message) {
  background: #161624;
}

.postBody :global(.message_s_uccess) {
  background: #f4f8fa;
  border-left: 4px solid #4caf50;
}

:global(.theme--dark) .postBody :global(.message__success) {
  background: #161624;
}

.postBody :global(.message__error) {
  background: #fdf7f7;
  border-left: 4px solid #f44336;
}

:global(.theme--dark) .postBody :global(.message__error) {
  background: #241616;
}

.postBody :global(.message__warning) {
  background: #fcf8f2;
  border-left: 4px solid #ff9800;
}

:global(.theme--dark) .postBody :global(.message__warning) {
  background: #201612dd;
}

.postBody :global(.message__icon) {
  position: absolute;
  top: 1.2rem;
  left: -16px;
  width: 28px;
  height: 28px;
  padding: 4px;
  background-color: #2196f3;
  border-radius: 50% 50%;
}

.postBody :global(.message__success) :global(.message__icon) {
  background-color: #4caf50;
}

.postBody :global(.message__error) :global(.message__icon) {
  background-color: #f44336;
}

.postBody :global(.message__warning) :global(.message__icon) {
  background-color: #ff9800;
}

.postBody :global(.message__icon) svg {
  fill: white;
}

.postBody :global(.alert__content) {
  margin-left: 1rem;
}

.postBody :global(.alert__content) p:last-child {
  margin-bottom: 0;
}

.postBody iframe {
  width: 100%;
}

.postBody table {
  display: block;
  overflow-x: auto;
  white-space: nowrap;
}

.postBody :global(.github-code-block) {
  margin-bottom: 2em;
  /* GitHubのfont-family */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Noto Sans',
    Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
}

.postBody :global(.github-code-block) :global(.header) {
  display: grid;
  column-gap: 0.5em;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto;
  grid-template-areas:
    'left right-top'
    'left right-bottom';
  background-color: #151b23;
  padding: 0.2em 1em;
  border-radius: 5px 5px 0 0;
}

.postBody :global(.github-code-block) :global(.header) p {
  margin-bottom: 0;
}

.postBody
  :global(.github-code-block)
  :global(.header)
  :global(.github-logo-area) {
  grid-area: left;
}

.postBody :global(.github-code-block) :global(.header) :global(.link-area) {
  grid-area: right-top;
  font-weight: 600;
  font-size: 0.8rem;
  align-self: end;
}

.postBody :global(.github-code-block) :global(.header) :global(.details-area) {
  grid-area: right-bottom;
  color: #aaa;
  font-size: 0.8rem;
}

.postBody :global(.github-code-block) :global(.header) :global(.link-area) a {
  color: var(--primary-color);
  text-decoration: underline;
}

.postBody :global(.github-code-block) :global(.github-logo) {
  width: 32px;
  height: 32px;
}

.postBody :global(.github-code-block) :global(.code-area) {
  display: flex;
  max-height: 36em;

  overflow: hidden;
}

.postBody :global(.github-code-block) :global(.line-numbers) {
  color: #717881;
  display: flex;
  flex-direction: column;
  min-width: 4em;
  padding: 0.1em 0.3em 0.1em 1em;

  font-size: 15px;
  line-height: 1.5;

  margin: 0;
  background: #282c34;

  font-family: monospace;
  text-align: right;

  border-radius: 0 0 0 0.3em;

  overflow: auto;
  scrollbar-width: none;
}

.postBody :global(.github-code-block) code {
  width: 100%;
  height: auto;
  border-radius: 0 0 0.3em 0 !important;
  margin: 0;
}
