.tooltipRoot {
  position: relative;
}

.tooltipContent {
  position: absolute;
  padding: 0.2em 0.4em;
  opacity: 0;
  background: rgba(97, 97, 97, 0.9);
  color: #fff;
  border-radius: 4px;
  font-size: 14px;
  line-height: 22px;
  text-transform: none;
  pointer-events: none;
  transition: opacity 0.3s ease-in-out;
}

.tooltipContent.display {
  opacity: 1;
}
