.article {
  margin-left: auto;
  margin-right: auto;
  margin-top: 12px;
  width: 816px;
}

@media (max-width: 1020px) and (min-width: 768px) {
  .article {
    width: 80%;
  }
}

@media (max-width: 767px) {
  .article {
    width: 99%;
  }
}
