html {
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  word-break: normal;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: Helvetica Neue, Arial, Hiragino Kaku Gothic ProN, Hiragino Sans,
    BIZ UDPGothic, Meiryo, sans-serif;
  font-weight: 500;
  min-height: 100vh;
  width: 100%;
  position: relative;
}

a {
  color: var(--primary-color);
}

* {
  box-sizing: border-box;
}

*,
*:after,
*:before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #009688;
  --secondary-color: #ff5722;
}

.theme--dark {
  background: #121212;
  color: #ddd;
}

.theme--light {
  background: #fff;
  color: rgba(0, 0, 0, 0.87);
}
